<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <h1>Add a New Fruit</h1>
    <form action="/fruits" method="post">
        <label>Name:
            <input type="text" name="name" placeholder="Pear">
        </label>
        <label>Color:
            <input type="text" name="color" placeholder="Green">
        </label>
        <label>Ready to eat
            <input type="checkbox" name="readyToEat">
        </label>
            <input type="submit" value="Add New Fruit">
    </form>
    <%- include('./partials/footer') %>    
</body>
</html> 